

body{
  background: rgb(31, 31, 31);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.parent{
  margin-top: 10px;
  width: 700px;
  min-height: 300px;
  background: rgb(255, 252, 45);
  border-radius: 20px;
  border: 1px solid rgb(205, 205, 205);
  box-shadow: 1px 1px 20px 5px rgb(156, 156, 156);
  transform: translateY(40px);
  transition: all 1s ease;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  animation: animate 1s step-end;  
}

.parent:hover{
  background: rgb(159, 254, 140);
}

.parent img{
  padding: 30px;
  cursor: pointer;
}

.parent img:hover{
  padding: 30px;
  transform: scale(1.4);
  transition: all 0.7s ease;
  box-shadow: 0 0 5px 2px rgba(111, 111, 111, 0.443);
  border-radius: 50%;
  background: rgba(128, 128, 128, 0.356);
}


@keyframes animate {
    0% {
       margin-right:  -2100px;
    }
    100%{
        margin-right: 0px;
    }
}

.text{
  padding-top: 100px;
  padding-left: 27%;
  font-family: sans-serif;
  font-size: 30px;
  color: rgb(61, 61, 61);
  font-weight: 900;
}

.circle{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background:  rgb(255, 245, 48);
  box-shadow: 1px 1px 20px 5px rgb(156, 156, 156);
  margin: 150px 0 0 -1104px;
}

.circle:hover{
  background: rgb(169, 206, 6);
  transition: all 0.4s ease;
}

.circle:active{
  background: rgb(128, 255, 82);
  transition: all 0.4s ease;
}


.circle__text{
  font-family: sans-serif;
  font-size: 20px;
  color: rgb(77, 77, 77);
  font-weight: 600;
}



